<li class="nav"><a href="/">Home</a></li>
<h1></h1>
<h1 class="title">
  <%= form_for @vendor, method: :patch do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :id %>
  <%= f.text_field :id %>

  <%= f.label :number_employees %>
  <%= f.text_field :number_employees %>

  <%= f.label :market_id %>
  <%= f.text_field :market_id %>

  <%= f.submit "Submit" %>
  <% end %></h1>
