
<h1>Vendor: <%= @vendor.name %></h1>
<p>Employee Count: <%= @vendor.number_employees %></p>
<p>Vendor_ID: <%= @vendor.id %></p>
<p>Market ID: <%= @vendor.market_id %></p>
<p>

  <%= button_to("Product", vendor_products_path(params[:id]), method: :get) %></p>
<h1> To view products, enter your VENDOR ID below</h1>
<h2><%= form_for 'search' do |f| %>
  <%= f.text_field(:q) %>
  <%= f.submit("Search") %></h2>
<%end %>
