<li class="nav"><a href="/">Home</a></li>
<h1></h1>
<h1 class="title">
<%= form_for @market, method: :patch do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :county %>
  <%= f.text_field :county %>

  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.label :zip %>
  <%= f.text_field :zip %>

  <%= f.submit "Submit" %>
  <% end %>
</h1>
