<p>Name: <%= @market.name %></p>
<p>County: <%= @market.county %></p>
<p>Address: <%= @market.address %>, <%= @market.city %>, <%= @market.state %>, <%= @market.zip %></p>

<%= button_to("Edit this market", edit_market_path, method: :get) %>
<%# button_to("See my vendors", market_vendors_path(params[:id]), method: :get) %>
<p><%= button_to("Create a new vendor") %></p> <%# REVIEW: add path and method %>

<p>Vendors:</p>
<ul>
  <% @vendors.each do |vendor| %>
  <li>
  <%= vendor.name %>
  <%= button_to("View vendor details") %> <%# REVIEW: add in the path and method %>
  <%= button_to("Edit this vendor") %> <%# REVIEW: add in path an method %>
  <%= button_to("Delete this vendor") %> <%# REVIEW: add in path an method %>
</li>
  <% end %>
</ul>
