<p>Name: <%= @market.name %></p>
<p>County: <%= @market.county %></p>
<p>Address: <%= @market.address %>, <%= @market.city %>, <%= @market.state %>, <%= @market.zip %></p>

<%= button_to("Edit this market", edit_market_path, method: :get) %>
<%= button_to("See my vendors", market_vendors_path(params[:id]), method: :get) %>
