

<li class="nav"><a href="/">Home</a></li>
<h1></h1>
<h1 class="title">
  <%= form_for @product, url: vendor_product_path(@vendor, @product) do |f| %>
  
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :id %>
  <%= f.text_field :id %>

  <%= f.label :vendor_id %>
  <%= f.text_field :vendor_id %>

  <%= f.submit "Submit" %>
  <% end %>
</h1>
