
<h1 class="title">product: <%= @product.name %></h1>
<p>Employee Count: <%= @product.number_employees %></p>
<p>product_ID: <%= @product.id %></p>
<p>Market ID: <%= @product.market_id %></p>

<h2 class="link"><%= link_to("Edit", edit_product_path(@product.id), method: :get) %></h2>
<h2 class="link"><%= link_to "Delete", product_path(:id), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %></h2>
<h2 class="link"><%= link_to("Your Products", vendor_products_path(@product), method: :get) %></h2>
